header {
    background: #292d31;
}

footer {
    background: #090d11;
    font-size: small;
}

a:hover, a:active, a:focus {
    outline: none;
}

.game-card-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
