<a
    href='http://play.google.com/store/apps/details?id={{id}}&utm_source=hag&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'>
    <img
        class="{{#with class}}{{this}}{{/with}}" {{#with style}}style="{{this}}"{{/with}}
        alt='Get it on Google Play'
        src='https://play.google.com/intl/en_us/badges/static/images/badges/en_badge_web_generic.png'/>
</a>