
<div class="container text-muted">
    <p class="float-right">

    </p>
    <p>&copy; 2019-{{time "%Y"}} Jens Reimann
        {{#each compact.site.footer as |item|}}
        • <a href="{{relative_url item.url}}">{{item.label}}</a>
        {{/each}}
    </p>
</div>
