
<div class="container text-muted">
    <p class="float-right">
        Google Play and the Google Play logo are trademarks of Google LLC.
    </p>
    <p>&copy; 2019-{{timestamp "%Y"}} Jens Reimann
        {{#each compact.site.footer as |item|}}
        • <a href="{{relative_url item.url}}">{{item.label}}</a>
        {{/each}}
        •
        Built with <a target="_blank" rel="noopener noreferrer" href="https://github.com/ctron/hagen">hagen</a>.
    </p>
</div>
