{{#*inline "title"}}
{{~context.content.main.frontMatter.title}} &ndash; {{ compact.site.title ~}}
{{/inline}}

{{#*inline "heading"}}
<div class="row">
  <div class="col-12 col-sm-6 col-xl-8">
    {{> game/heading context h="h1" l="p" lc="lead"}}
  </div>
  <div class="col-12 col-sm-6 col-xl-4 text-center text-sm-right">
    {{> game/play id=context.metadata.name class="img-fluid" style="height: 4rem;"}}
  </div>
</div>

{{/inline}}

{{#*inline "main"}}
<div class="container">
  {{ markdownify context.content.main.frontMatter.introduction }}
  {{> game/screenshots context.content.main }}
  {{ expand ( markdownify context.content.main.content ) }}
</div>
{{/inline}}
{{~> default~}}
