{{#*inline "heading"}}
<div class="row">
  <div class="col-12 col-sm-6 col-xl-8">
    {{> game/heading context.page h="h1" l="p" lc="lead"}}
  </div>
  <div class="col-12 col-sm-6 col-xl-4 text-center text-sm-right">
    {{> game/play id=context.gameId class="img-fluid" style="height: 4rem;"}}
  </div>
</div>
{{/inline}}

{{#*inline "main"}}
<div class="container">
  {{ markdownify context.page.frontMatter.introduction }}
  {{> game/screenshots context.page }}
  {{ expand ( markdownify context.content ) }}
</div>
{{/inline}}

{{~> default~}}
