{{#*inline "title"}}
{{context.content.main.frontMatter.title}} &ndash; {{ compact.site.title }}
{{/inline}}

{{#*inline "heading"}}
{{> game/heading context h="h1" l="p" lc="lead"}}
{{/inline}}

{{#*inline "main"}}
<div class="container">
  {{ markdownify context.content.main.frontMatter.introduction }}
  {{> game/screenshots context.content.main }}
  {{ expand ( markdownify context.content.main.content) }}
</div>
{{/inline}}
{{~> default~}}
