<h1>
    {{#with context.page.frontMatter.title }}
    {{ this }}
    {{else}}
    {{ compact.site.title }}
    {{/with}}
</h1>

{{#with context.page.frontMatter.lead}}<p class="lead">{{ this }}</p>{{/with}}