
<div class="container">
    <div class="row">
        <div class="col-md-6">
            {{>heading}}
        </div>
        <div class="col-md-6 mt-auto">
            <img src="{{ relative_url "/assets/images/header.svg" }}"/>
        </div>
    </div>

</div>
